# Ignore configuration files
*config.toml

# Ignore database files
*.db
*.sqlite
*.sqlite3

# Rust build artifacts
debug/
/target/
Cargo.lock
**/*.rs.bk

# Rust compiler output
*.pdb
*.rlib
*.rmeta
*.so
*.dylib
*.dll

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# VS code files
.vscode/